<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IpNode" value="192.168.1.8"/>
    <add key="IpRedis" value="192.168.1.8"/>
    <add key="Bus" value="Bus3.txt"/>   <!-- Sostitutire con il nome del file Bus2.txt ecc... -->  
    <add key="IdBus" value="3"/>   <!-- Sostitutire con il numero del bus -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>